body{
    height: auto;
    font-family: Poppins, sans-serif;
    color: #393939;
    font-size: 10px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}
/* navbar style start */
#navbar{
    height: auto;
    background: linear-gradient(180deg, rgba(69, 122, 191, 0.8), #023859), url('../image/abouthead2.jpg') center/cover no-repeat;
    padding: 60px 0px;
}
.nav-container{
    width: 87%;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;

}
.nav{
    display: flex;
    justify-content: space-between;
}

#navbar a{
    padding-left: 0px;
    color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 300ms ease-out;

}
.nav a{
    padding-right: 40px;
}

.logo{
    width: 50px;
    height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 1184px;
    height: 98px;
}
.white-line{
    width: 50px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fafafa;
    font-size: 55px;
    line-height: 1.5;
    font-weight: 600;
} 
.hometext{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
}
.homelink{
    margin-right: 10px;
    color: #fafafa;
   
}
.hometext img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    width: 6px;
}

.about-text{
    margin-right: 0px;
    font-weight: 500;
    color: #457abf;
}
.homelink:hover a{
    color: #b1ff00;
}
#navbar a:hover{
    color: #b1ff00;  
}
/* navbar style end */

/* resent project style start */
#projects {
    height: 49em;
    
    background-color: #023859;
   
    
   
}
 .projects-container {
    background-color: #023859;
    width: 1200px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10em 0;
    gap: 4em;
    
 }
 .item {
     width: 27em;
     height: 29em;
     border: 1px solid green;
     position: relative;
     z-index: 1;
     
 }
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}
.item-text {
    position: absolute;
    z-index: 3;
    background-color: #457abf;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.item-last {
    background: white;
    height: 100%;
    width: 100%;

}
.heading2 {
        margin-top: 0px;
        color: #023859;
        font-size: 18px;
        line-height: 1.8;
        font-weight: 600;
        padding: 40px 25px 10px 25px;
    
}
.paragraf2 {
    color: #457abf;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.1;
    padding: 0 25px 20px 25px;
}
.butn {

    background-color: #b1ff00;
    width: 200px;
    height: 60px;
    border: none;
    color: #023859;
    font-weight: 700;
    margin: 0 25px 0 25px;
}

/* resent project style end */

/* service-contact style start */
#about-contact {
    background-color: #023859;
    box-sizing: border-box;
    background-image: linear-gradient(303deg, #457abf, #023859);
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
}
.contact-content{
    max-width: 610px;
    width: 100%;
    padding: 40px 40px 40px 0px;
    justify-self: end;
    align-self: center;
    font-size: 14px;
    box-sizing: border-box;
}
.contact-text{
    max-width: none;
    padding-left: 0px;
}
.contacthead{
    margin-top: 0px;
    color: #fff;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
}
.contact-p{
    color: #fafafa;
    font-size: 15px;
    line-height: 2.1; 
}
.contact-btn{
    display: inline-block;
    margin-top: 40px;
    padding: 20px 35px 18px;
    background-color: #b1ff00;
    transition: all 300ms ease-out;
    color: #023859;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;

} 
.contact-img{
    box-sizing: border-box;
    height: 100%;
    background-color: #fafafa;
}
.contact-img img{
    box-sizing: border-box;
    height: 93%;


}

/* service-contact style start */

/* footer style start */
#footer {
    padding-top: 140px;
    padding-bottom: 60px;
    border-top: 1px solid #e4e4e4;
    background-color: #fff;
}
footer {
    
        width: 87%;
        max-width: 1220px;
        margin-right: auto;
        margin-left: auto;
    
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 50px;

}
.footerhead{
    font-size: 35px;
    color: #023859;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 20px;
}
.footer-p{
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    line-height: 2.1;
    color: black;
}
footer img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}
footer a {
    margin-right: 15px;
    background-color: transparent;
    text-decoration: none;
    transition: all 300ms ease-out;
}
.sosial-icon{
    display: flex;
    
}
.sosial-media {
    display: flex;
    align-items: center;
    margin: 140px 10px 40px 0px;
}
.sosial-text {
    color: #023859;
    font-weight: 500;
    margin-right: 20px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    
}
.menu a{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #457abf;
    font-size: 15px;
    transition: all 300ms ease-out;
}
.grid-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 30px;
}
.footer-contact{
    margin-top: 60px;
}
.mail{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.footer-contact img{
    width: 25px;
    margin-right: 20px;
}
.footer-contact a{
    transition: all 300ms ease-out;
    font-family: Poppins, sans-serif;
    color: #457abf;
    font-size: 18px;
    font-weight: 500;
}
.location-item{
    display: flex;
    margin-bottom: 10px;
    
}
.location-text{
    margin-top: -4px;
    color: #023859;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    margin-left: 20px;
}
.location-item img{
    width: 25px;
    height: 25px;
}
.footer-logo{
    margin-top: 60px;
    width: 150px;
    height: 150px;
}
.footer-logo img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
     color: #393939;
    }
.byme a{
    transition: all 300ms ease;
    color: #023859;
    font-weight: 700;
}
.footer-grid a:hover{
    color: #023859;
}
.sosial-media img:hover{
    opacity: 0.5;
}
.byme a:hover {
    color: #457abf;
}

/* footer style end */