html {
    box-sizing: border-box;
   
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }
  
  .preview {
      width: 100%;
  }
  
  .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 4;
  }
  
  .row > .col {
    padding: 0 8px;
    
  }
  
  .col {
    float: left;
    width: 35%;
    margin-right: 10px;
  }
  
 .modal {
    position: fixed;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    z-index: -5;
    transition: all ease .6s;
}

  .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
  }
  
  .slide {
    width: 100%;
    height: 400px;
    position: relative;
  
  }
  
  .image-slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .modal-preview {
    width: 100%;
      
  }
  
  .dots {
      margin-top: 10px;
      width: 620px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  img.preview, img.modal-preview {
    opacity: 0.6;
  }
  
  img.active {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .previous,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .previous:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }