{% extends 'app/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='service-css/service.css') }}">
    
{% endblock %}

{% block content %}

 
          <div class="header">
              <div class="head-text">
                  
                      <h1>Services</h1>
                      <div class="white-line"></div>
                  
              </div>
              <div class="homepage">
                  <div class="hometext">
                      <div class="homelink">
                          <a class ="home" href="{{ url_for('index') }}">HOME</a>
                      </div>
                      <img src="{{ url_for('static',filename='image/crunbs-icon.png') }}">
                      <div class="about-text">SERVICES</div>
                  </div>
              </div>
          </div>
        </div>
    </section>
      <!-- navbar section end -->
<!-- service-main section star-->
<section id="service-main">
    <div class="service-container">
            <div class="service-grid">
                    <div class="grid-item">
                            <div class="service-img">
                                <div class="cover"></div>
                                <img src="{{ url_for('static',filename='image/i (1).jpg') }}" alt="">
                            </div>
                        <div class="service-text">
                                <h4 class="service-head">Hydrogeological Engineering</h4>
                                <div class="text-item">
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Groundwater Exploration, Data Acquisition, resource assessment,development, and management</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Groundwater contamination assessment remediation and management</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Integrated surface water and groundwater flow and contaminant transport modelling</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Design of local, regional ground water resource management plans</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Predictive simulations for assessment of remedial strategies</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Prediction of the Ground Water dynamics</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Groundwater Monitoring, Predictive Reporting </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Dam Seepage Assessment </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Surface Water Evaluation, Estimation and Reporting (River, Lake, Channel) </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Flooding and Droughts Prediction  </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Flooding Risks Assessment and Precaution </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Mineral and Thermal Water Prospecting, Exploration</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Increasing Productivity and Automatization of the Water Wells Production</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Hydrogeological Drilling supervision</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Hydraulic pumping tests (long term and short term)</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Group Pumping Test and Monitoring Water Well Network</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Inside Video diagnostic of the Water Wells</div>
                                    </div>
                             </div>
                        </div>
                    </div>
                    <div class="grid-item">
                            <div class="service-img">
                                <div class="img">
                                    <img src="{{ url_for('static',filename='image/i (1).jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="service-text">
                                <h4 class="service-head">Geotechnical Engineering</h4>
                                <div class="text-item">
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Geotechnical Engineering</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Preparation of Geotechnical Investigation Plans and Method of Statement for</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Civil Structural Foundation, Pipeline Routs, Micro- tunnels etc.,</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Geotechnical Engineering Site Evaluations with Design Recommendations</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Construction Phase Monitoring and Testing with Daily Field Reporting</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Execution and Supervision of Geotechnical Field Survey </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Soil Improvement Consulting and Soil Bearing Calculation and Testing </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Interpretation of Geotechnical Row Data</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Determination of Soil Characteristics in Fields</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Soil Laboratory Testing</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Preparation of Geotechnical Investigation Reports </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Preparation of Dewatering System Plans for Construction Pits, Deep Wells,Wellpoint, Horizontal Dewatering Systems </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Calculation of Discharged Groundwater Volume for Dewatering Systems</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Groundwater Seepage Analysis, 2D and 3D modelling of the Groundwater in the Dewatering Systems </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Static Calculation of Retaining Walls, Gravity Retaining Wall, Gabion Retaining </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Walls, Cantilever Retaining Wall, Anchored Retaining Wall, Sheet Pile Retaining</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Wall</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Preparation of Method of Statement for Retaining Walls Construction</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Preparation of Detailed Design of Retaining Walls </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Slope Stability Analysis, 2D and 3D Visualization of Slope Stability</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Land Sliding Investigation and Analysis, Prevention Measures, 2D and 3D </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Modelling and Visual Presentation of Land sliding Areas</div>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                            <div class="service-img">
                                <div class="img">
                                    <img src="{{ url_for('static',filename='image/i (1).jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="service-text">
                                <h4 class="service-head">Engineering Geophysics</h4>
                                <div class="text-item">
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Geophysical Investigations</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Well logging (Gamma-Ray, Neutron-Gamma, Neutron- Neutron ,Resistivity, Termo , Acoustic ,Spontaneous Potential )</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Magnetometry Exploration</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Gravimetric Exploration</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Magneto-telluric Exploration </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Vertical Electrical Sounding  </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Electrical Tomographic</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Geo-radar / Ground Penetrating Radar</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Investigation of contaminated sites e.g., abandoned waste dumps (environmental geophysics)</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Hydroacoustic and bathymetry for underwater subsoil exploration</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Self-potential measurements</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Preparation of Geophysical Report</div>
                                    </div>
                                   
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                            <div class="service-img">
                                <div class="img">
                                    <img src="{{ url_for('static',filename='image/i (1).jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="service-text">
                                <h4 class="service-head">Environmental Engineering</h4>
                                <div class="text-item">
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">	Wastewater management</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">	Solid waste management </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Hazardous waste management</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Cleanup of hazardous-waste sites</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Wastewater disposal </div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Waste minimization</div>
                                    </div>
                                    <div class="items">
                                        <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                        <div class="item-txt">Recycling</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="service-img">
                            <div class="img">
                                <img src="{{ url_for('static',filename='image/i (1).jpg') }}" alt="">
                            </div>
                        </div>
                        <div class="service-text">
                            <h4 class="service-head">Project Design</h4>
                            <div class="text-item">
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Feasibility Studies
                                        </div>
                                </div>
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Detail Engineering</div>
                                </div>
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Construction Technical Bid Packages</div>
                                </div>
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Cost Control and Tracking</div>
                                </div>
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Cost Estimates</div>
                                </div>
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Project Planning and Scheduling</div>
                                </div>
                                <div class="items">
                                    <img src="{{ url_for('static',filename='image/dot.jpg') }}">
                                    <div class="item-txt">Structural Steel Design and Analysis</div>
                                </div>
                        </div>
                    </div>
                    </div>
            </div>
    </div>  
</section>
<!-- service-main section ed-->


<!-- Recent Project section start -->
<section id="projects">
    <div class="projects-container">
        <div class="item itemss">
           <img src="{{ url_for('static',filename='image/slider1.jpg') }}" >
           <div class="item-text">
            Karas Regional Council v 
         </div>
        </div>
      
        <div class="item itemss">
            <img src="{{ url_for('static',filename='image/img6.jpg') }}" >
            <div class="item-text">
                Buitepost Total
             </div>

        </div>
        <div class="item itemss">
              <img src="{{ url_for('static',filename='image/5.jpg') }}" >
             <div class="item-text">
                House Wimpie
             </div>

        </div>
        <div class="item">
            <div class="item-last">
                <h3 class="heading2">Explore more of our Recent Projects</h3>
                <p class="paragraf2">To be the premier engineering consulting company in every market we serve.</p>
                <a class="project-btn" href="{{ url_for('project') }}"> 
                    LOAD MORE
                </a>
         </div>
     </div>
 </div>


</section> 
<!-- recent Project section end -->
      
<!-- service-contact section start -->

<section id="about-contact">
              
    <div class="contact-grid">
             <div class="contact-content">
                   <div class="contact-text">
                        <h1 class="contacthead">Need to schedule a consultation?</h1>
                        <p class="contact-p"> We have experience in the fields of Project Management and Engineering: Civil, Mechanical, Structural, Electrical, Road & Transport, 
                            Hydraulic or Water and Environmental engineering.
                         </p>
                         <a class="contact-btn" href="{{ url_for('contact') }}">SCHEDULE NOW</a>
                   </div>
             </div>
             <div class="contact-img">
                <img src="{{ url_for('static',filename='image/call-back.jpg') }}" >
              </div>
    </div> 

</section>

<!-- service-contact section end -->

      <!-- service-footer section start -->
     
    <!-- service-footer section end -->
{% endblock %}