<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dosya Yükleme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    {% with mesajlar = get_flashed_messages() %}
        {% if mesajlar %}
          <ul class=flashes>
          {% for mesaj in mesajlar %}
            <li>{{ mesaj }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    <form action="/sekilyukle" method="post" enctype=multipart/form-data>    
        <input type="file" name="file1">
        <input type="submit" value="Gönder">
    </form>

    {% if dosya %}
        <br>
        <img width="250px" src="{{ url_for('sekil_upload', filename='upload/'+ file1) }}" />
    {% endif %}

</body>
</html>