/* heder style*/
bady {
    margin: 0px;
}
.courses-head {
    border: 1px solid black;
    display: flex;
    justify-content:space-evenly;
    height: 70px;
    margin: 0 auto;
}

.courses-heading  h1 {
    margin-top: 20px;
    margin-bottom: 50px;
}


 .courses-container {
    border: 1px solid green; 
   height: 50px;
   display: flex;
   align-items: center;
   margin-top: 10px;
 }
 .courses-container  ul  {
     display: flex;
     margin: 0px;
    padding: 0px;
    list-style-type: none;
 }
 .courses-container  ul li a {
text-decoration: none;
color: black;
padding: 0px 20px;

 }
.courses_item_Up {
    display: flex;
}
.courses_item_Down {
    display: flex;
}


