
body{
    height: auto;
    font-family: Poppins, sans-serif;
    color: #393939;
    font-size: 10px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
}
/* navbar style start */
#navbar{
    height: auto;
    background: linear-gradient(180deg, rgba(69, 122, 191, 0.8), #023859), url('../image/abouthead.jpg') center/cover no-repeat;
    padding: 60px 0px;
}
.nav-container{
    width: 87%;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;

}
.nav{
    display: flex;
    justify-content: space-between;
}

#navbar a{
    padding-left: 0px;
    color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 300ms ease-out;

}
.nav a{
    padding-right: 40px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}
.logo{
    width: 50px;
    height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 1184px;
    height: 98px;
}
.white-line{
    width: 50px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fafafa;
    font-size: 55px;
    line-height: 1.5;
    font-weight: 600;
} 
.hometext{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
}
.homelink{
    margin-right: 10px;
    color: #fafafa;
   
}
.hometext img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    width: 6px;
}

.about-text{
    margin-right: 0px;
    font-weight: 500;
    color: #457abf;
}
.homelink:hover a{
    color: #b1ff00;
}
#navbar a:hover{
    color: #b1ff00;  
}
/* navbar style end */

/* about-us style start */
#main-about {
    display: flex;
    height: auto;
    padding-top: 180px;
    padding-bottom: 180px;
   
}
.about-text {
    width: 87%;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px; 
    box-sizing: border-box;
}
.blue-line {
    margin-bottom: 4em;
    background-color:#023859;
    width: 5em;
    height: 0.5em;
}
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-rows: auto;
    box-sizing: border-box;
}
.about-header {
   
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #023859;
    font-size: 35px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 600;
}

.about-paragraf {
    font-family: Poppins, sans-serif;
    color: #393939;
    font-size: 15px;
    line-height: 2.1;
    font-weight: 400;
    margin: bottom 10px;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: auto;
}

.main-about-img {
    position: relative;
    bottom: 0px;
    transition: bottom 300ms ease-out;
}
 .main-about-img:hover{
    bottom: 10px;
    opacity: 1;
 }
.first-img {
    background: linear-gradient(180deg, rgba(180, 216, 238, 0.37), rgba(181, 210, 228, 0.37)), url('../image/i5.jpg') center/cover no-repeat;
    margin-right: 2em;
    position: relative;
    width: 53em;
    height: 35em;
    z-index: 1;
}
.center-img {
    position: absolute;
    width: 38em;
    height: 26em;
    bottom: 0.5em;
    left: 17em;
    z-index: 2;
    background: linear-gradient(180deg, rgba(16, 95, 145, 0.5), rgba(15, 90, 136, 0.5)), url('../image/i4.jpg') center/cover no-repeat;

}
.last-img {
    position: absolute;
    width: 22em;
    height: 15.5em;
    bottom: -5em;
    left: 4em;
    z-index: 3;
    background: linear-gradient(180deg, rgba(1, 83, 134, 0.37), rgba(207, 222, 231, 0.5)), url('../image/i3.jpg') center/cover no-repeat;
}
 .main-about-img div {
     border: 12px solid white;
    
 }
/* about-us style end */

/* about-features style start */
#features{
    padding: 180px 0px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}
.feature-container{
    width: 87%;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
.feature-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}
.grid-item{
    position: relative;
    bottom: 0px;
    transition: bottom 300ms ease-out; 
    display: flex;
    width: auto;
    height: auto;
    max-height: 305px;
    max-width: 100%;
    padding: 50px 29px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #023859;
    background-image: linear-gradient(306deg, #457abf, #023859);
}
.icon{
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}
.feature-p{
    width: 80%;
    color: #fafafa;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
.grid-item:hover {
    bottom: 10px;
    opacity: 1;
}
/* about-features style END */

/* about-services style start  */
#about-service{
    width: 1361px;
    height: auto;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: #023859;
}
.container-service{
    width: 87%;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
}
.service-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   gap: 50px; 
   height: 100%;
   box-sizing: border-box;
}
.service-item{
    position: relative;
    bottom: 0px;
    transition: bottom 300ms ease-out; 
    height: 385px;
    background-color: #023859;
}
.img{
    height: 80%;
    background-color: #457abf;
}
.img-content{
    position: relative;
    display: flex;
    height: 20%;
    padding: 0px 0px 0px 20px;
    justify-content: space-between;
    align-items: stretch;
    background-image: linear-gradient(350deg, #457abf, #023859);
}
.img-text{
    display: flex;
    width: 75%;
    align-items: center;
}
.img-text div{
    display: block;
    align-items: center;
    color: #fafafa;
    line-height: 1.5;
    font-size: 14px;
}
.img-content a{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    transition: bottom 300ms ease-out;
    background-color: #b1ff00;
    max-width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}
.img-content img{
    width: 15px;
    height: 24px;
}
.btn{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.btn a{
    display: inline-block;
    background-color: #b1ff00;
    color: #023859;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 300ms ease-out;
    padding: 20px 40px;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    
}
.btn a:hover{
    background-color: #fafafa;
    color: #457abf;
}
.service-item:hover{
    bottom: 10px;
}
.img-content a:hover{
    background-color: #fafafa;
}
/* about-services style end  */

/* about-contact style start */
#about-contact {
    background-color: #023859;
    box-sizing: border-box;
    background-image: linear-gradient(303deg, #457abf, #023859);
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
}
.contact-content{
    max-width: 610px;
    width: 100%;
    padding: 40px 40px 40px 0px;
    justify-self: end;
    align-self: center;
    font-size: 14px;
    box-sizing: border-box;
}
.contact-text{
    max-width: none;
    padding-left: 0px;
}
.contacthead{
    margin-top: 0px;
    color: #fff;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
}
.contact-p{
    color: #fafafa;
    font-size: 15px;
    line-height: 2.1; 
}
.contact-btn{
    display: inline-block;
    margin-top: 40px;
    padding: 20px 35px 18px;
    background-color: #b1ff00;
    transition: all 300ms ease-out;
    color: #023859;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;

} 
.contact-img{
    box-sizing: border-box;
    height: 100%;
    background-color: #fafafa;
}
.contact-img img{
    box-sizing: border-box;
    height: 93%;


}

/* about-contact style start */

/* footer style start */
#footer {
    padding-top: 140px;
    padding-bottom: 60px;
    border-top: 1px solid #e4e4e4;
    background-color: #fff;
}
footer {
    
        width: 87%;
        max-width: 1220px;
        margin-right: auto;
        margin-left: auto;
    
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 50px;

}
.footerhead{
    font-size: 35px;
    color: #023859;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 20px;
}
.footer-p{
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    line-height: 2.1;
    color: black;
}
footer img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}
footer a {
    margin-right: 15px;
    background-color: transparent;
    text-decoration: none;
    transition: all 300ms ease-out;
}
.sosial-icon{
    display: flex;
    
}
.sosial-media {
    display: flex;
    align-items: center;
    margin: 140px 10px 40px 0px;
}
.sosial-text {
    color: #023859;
    font-weight: 500;
    margin-right: 20px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    
}
.menu a{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #457abf;
    font-size: 15px;
    transition: all 300ms ease-out;
}
.grid-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 30px;
}
.footer-contact{
    margin-top: 60px;
}
.mail{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.footer-contact img{
    width: 25px;
    margin-right: 20px;
}
.footer-contact a{
    transition: all 300ms ease-out;
    font-family: Poppins, sans-serif;
    color: #457abf;
    font-size: 18px;
    font-weight: 500;
}
.location-item{
    display: flex;
    margin-bottom: 10px;
    
}
.location-text{
    margin-top: -4px;
    color: #023859;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    margin-left: 20px;
}
.location-item img{
    width: 25px;
    height: 25px;
}
.footer-logo{
    margin-top: 60px;
    width: 150px;
    height: 150px;
}
.footer-logo img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
     color: #393939;
    }
.byme a{
    transition: all 300ms ease;
    color: #023859;
    font-weight: 700;
}
.footer-grid a:hover{
    color: #023859;
}
.sosial-media img:hover{
    opacity: 0.5;
}
.byme a:hover {
    color: #457abf;
}

/* footer style end */